*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
@font-face {
    font-family: BEYNO;
    src: url(../fonts/BEYNO/BEYNO.ttf);
}
@font-face {
    font-family: Cantarell;
    src: url(../fonts/Cantarell/Cantarell-Regular.ttf);
}
@font-face {
    font-family: Panthera;
    src: url(../fonts/Panthera/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: Wakanda forever;
    src: url(../fonts/Wakanda/WakandaForever-Regular.ttf);
}
@keyframes anim {
    0%{
        transform: translateX(-150px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1; 
    }
}
:root{
    --gris : #9E91B7;
    --bleu : #07338C;
    --littleRose : #F2CEF2;
    --rose : #DF99F2;
    --noir: #021740;
    --violet : #3D2DA6;
}
body{
    background-image: url(/IllustrationsLogo/Allpages/arrière_plan.png);
    font-family: 'Cantarell';
    font-weight: 100;
    animation: anim 2s ease-out;
}
header .ligneLeft{
    display: flex;
    position: absolute;
    top: -2rem;
    position: fixed;
}
header .ligne1{
    margin-left: 2rem;
    width: 3px;
    height: 70vh;
    background-color:var(--gris) ;
}
header .ligne *{
    display: block;
}
header .ligne a{
    margin-left: 0.5rem;
    margin-top: 1rem;
}
header .ligne .ligne2{
    margin-left: 1rem;
    width: 3px;
    height: 47vh;
    background-color:var(--gris) ;
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: 2rem 7rem;
    animation: anim 2s ease-out;
}
header nav .navigation a{
    text-decoration: none;
    color: white;
    margin-left: 2rem;
    font-family: 'BEYNO';
}
header nav .navigation a:hover{
    color: var(--gris);
    text-decoration: underline;
    transition: 1s;
}
header nav .navigation #accueil{
    color: var(--gris);
    text-decoration: underline;
}
header .intro{
    display: flex;
    justify-content: space-around;
    animation: anim 2s ease-out;
}
header .intro img{
    width: 60vw;
}
header .intro .textIntro{
    width: 50vw;
    margin: auto 1rem;
    margin-left: 9rem;
    color: white;
}
header .intro .textIntro h1{
    color: var(--gris);
    font-size: 2.3rem;
    margin-bottom: 1rem;
    font-family: 'Panthera';
}
header .intro .textIntro h4{
    color: var(--gris);
    font-size: 1.2rem;
    font-family: 'BEYNO';
    font-weight: 100;
}
header .intro .textIntro p{
    font-size: 0.6rem;
    margin-bottom: 1rem;
}
header .intro .textIntro a{
    color: white;
    font-size: 0.8rem;
}
.acteur{
    display: flex;
    margin-left: 10vw;
    background-color: var(--noir);
    height: 30vh;
    animation: anim 2s ease-out;
}
.acteur .img{
    width: 15vw;
    height: 30vh;
}
.acteur #killmonger{
    margin-left: 2rem;
    position: relative;
    top: -2rem;
    height: 40vh;
}
.textacteur {
    margin: 2rem;
    color: white;
}
.textacteur h1{
    color: var(--gris);
    font-size: 1.2rem;
    font-family: 'BEYNO';
    font-weight: 100;
}
.textacteur p{
    font-size: 0.7rem;
}
.acteur .textacteur a{
    color: white;
    font-size: 0.8rem;
}
.histoir{
    display: flex;
    justify-content: space-around;
    margin-left: 5rem;
}
.histoir .left{
    width: 40vw;
}
.card{
    background-color: white;
    border-radius: 0.5rem;
    width: 25vw;
    height: max-content;
    position: relative;
    top: 10rem;
    margin-right: 5rem;
}
.cardelem{
    position: relative;
    top: -8rem;
}
.card .btn{
    text-align: center;
}
.card img{
    width: 20vw;
    margin-left: 2rem;
}
#btn{
    margin: 1rem auto;
    padding:0.3rem 0.5rem;
    color: white;
    background-color: var(--violet) ;
    border: none ;
    border-radius: 0.2rem;
}
.descriCard{
    margin-left: 2.5rem;
    margin-right: 0.3rem;
    font-size: 0.8rem;
}
.descriCard p{
    margin: 0.3rem;
}
#black-pantherRight{
    width: 30vw;
    height: 25vw;
    margin: auto;
}
.left1{
    margin-left: 5rem;
    width: 40vw;
}
.contact{
    background-image: url(/IllustrationsLogo/Accueil/Pantherhome7.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
}
.contact form{
   background: linear-gradient(179.71deg, #FFFFFF 0.25%, rgba(255, 243, 255, 0.59) 30.61%, rgba(246, 219, 246, 0.198759) 62.53%, rgba(242, 206, 242, 0) 103.6%);
   border-radius: 100px;
   padding: 3rem 10rem;
   height: fit-content;
   margin: auto;
   text-align: center;
}
.contact form *{
    display: block;
}
.contact form input{
    margin: 1rem 0rem; 
    width: 25vw;
    padding: 1rem;
    border-radius: 50px;
    border: 1px var(--noir) solid;
    background-color: transparent;
}
.contact form input::placeholder{
    color: black;
}
form p{
    font-size: 0.8rem;
}
#message{
    padding-bottom: 5rem;
    border-radius: 30px;
}
#submit{
    width: 5rem;
    padding: 0.5rem;
    margin: auto;
    border: none;
    background-color:var(--littleRose);
    font-weight: bold;
}
#submit:hover{
    box-shadow:  0 0  20px #021740;
}
footer{
    background-image: url(/IllustrationsLogo/Allpages/back_footer.png);
    height: 70vh;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    color: white;
}
footer p a{
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
}
footer p a::after{
    content: " ";
    display: block;
    width: 0px;
    max-width: 5px auto 0 auto;
    height: 2px;
    border-radius: 2px;
    background: white;
    transition: width 0.2s ease-out;
}
footer p a:hover::after{
    width: 100%;
}
.marvel{
    margin-top: 2rem;
}
#marvelFooter{
    position: relative;
    top: -9.5rem;
    left: -12rem;
}
#marvelFooter:hover{
    transform: scale(1.1);
}
.hightContact{
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
}
.iconSocialMediaFooter{
    display: flex;
    justify-content: space-between;
}
.iconSocialMediaFooter a:hover{
    transform: scale(1.2);
}
.contactfooter .pages{
    margin-right: 10rem;
}
#footerbottom{
    margin-top: 5rem;
}
 /******ENIGME PAGE********/

 .textIntroEnigm{
    position: relative;
    right: 10rem;
 }
 #pEnigm{
    background-image: url('../IllustrationsLogo/Enigme/Pantherenigme2.png');
 }
 section[class="ligne"] {
    position: absolute;
    right: 0;
    bottom: 5%;
}
#enigme{
    color: white;
}

p[class='wakanda-forever'] {
    font-family: 'Wakanda Forever';
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
    color: #9E91B7;
}

section[class="enigme"] {
    padding: 10% 5% 10% 10%;
}

section[class='enigme'] .response {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 4fr 0.5fr 6fr;
}

section[class='enigme'] .response .transcription {
    grid-column: 1/2;
}

section[class='enigme'] .response .know {
    grid-column: 3/4;
    background-image: url('../IllustrationsLogo/Enigme/Pantherenigme2.png');
    padding: 5%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 17% 13% 15% 15%;
}

section[class='enigme'] .transcription .wf {
    font-family: 'Wakanda Forever';
}

section[class='enigme'] .transcription input {
    width: 90%;
    height: 3vw;
    border-radius: 3rem;
    border: 1px solid #9E91B7;
    padding: 0 5%;
    background-color: transparent;
    font-size: 1rem;
}

section[class='enigme'] .transcription .in-res {
    margin-top: 7rem;
}

section[class='enigme'] .transcription button {
    height: 10%;
    border-radius: 3rem;
    margin-top: 2%;
    border: none;
    padding: 3% 5% 3% 5%;
    background-color: #F2CEF2;
    margin-top: 5rem;
    font-size: 1rem;
}
section[class='enigme'] .transcription button:hover{
    box-shadow: 0 0 20px  #F2CEF2;
}
.ligneEnigm{
    display: flex;
    justify-content: flex-end;
}
/******* Wakanda page********/
#rightSideWakanda{
    width: 60%;
}
#wakandaHeader{
    background-image: url(../IllustrationsLogo/Wakanda/Pantherwakanda1.png);
    height: 700px;
}
.textIntroWakanda{
   position: relative;
   top: 10rem;
}
.second-section {
    margin-top: 5rem;
    background-image: url(../IllustrationsLogo/Wakanda/Pantherwakanda2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8em;
    width: 80vw;
    position: relative;
    right: 10%;
    left: 10%;
    padding-top: 13%;
    z-index: -1;
}

.second-section h2 {
    margin: 1em 0 1em 0;
}
.video iframe{
    width: 35vw;
    height: 15vw;
    margin: 3em 0 3em 0;
}
.pantherwakanda2-1 img{
    width: 35vw;
    margin-top: 4em;
}
#wakandaPage{
    color: white;
}
@media (max-width : 1024px) {
    html {
        font-size: 16px;
    }
    .textacteur {
        margin: 0.9rem;
    }
    #marvelFooter{
        top: -12rem;
        left: -14rem;
    }
}
@media (max-width : 768px){
    html{
        font-size: 10px;
    }
}
@media (max-width : 425px){
    html{
        font-size: 8px;
    }
}
